body {
  background-color: #eeeeee;
}
hr.test {
  background-color: #00adb5;
  border-style: none;
  height: 2px;
  width: 60%;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #00adb5;
  border-width: 5px;
  width: 10%;
}
h1 {
  color: #00adb5;
}
h3 {
  color: #00adb5;
}
